@font-face {
  font-family: "Dancing Script";
  src: url("./fonts/DancingScript-Bold.ttf");
  font-weight: bold;
}
canvas {
  overflow-y: hidden;
}
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  font-family: "Dancing Script", cursive;
}
html {
  overflow: hidden;
}
body {
  height: 100%;
  position: fixed; /* prevent overscroll bounce*/
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch; /* iOS velocity scrolling */
}

.head {
  padding: 0.75em;
  background: rgb(51, 51, 51);
  color: #fff;
  font-weight: bold;
  border-bottom: 1px solid #2c2c2c;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.logo {
  grid-column: 2/3;
  font-size: 1.7em;
  margin: 0;
  text-align: center;
  align-self: center;
}

.online-users {
  font-family: sans-serif;
  font-weight: lighter;
  grid-column: 1/2;
  display: inline;
  text-align: left;
  align-self: center;
}
.online-users i {
  color: #78c178;
}

/* color picker */

.colorPickSelector {
  grid-column: 3;
  align-self: center;
  justify-self: right;
  border: 2px solid white;
  border-radius: 5px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  z-index: 9999;
}

.colorPickSelector:hover {
  transform: scale(1.1);
}

#canvas {
  display: block;
  z-index: -2;
}

.buttons-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 80px;
}

.button {
  position: relative;
  height: 60px;
  padding: 0 1em;
  font-size: 16px;
  color: white;
  text-align: center;
  font-family: sans-serif;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #34495e;
  border: 0;
  border-bottom: 2px solid #263849;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #263849;
  box-shadow: inset 0 -2px #263849;
  outline: none;
}
.button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.clear-button {
  width: 120px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #ffffffd6;
  font-weight: 100;
}

.save-button {
  width: 50px;
  margin-right: 10px;
  background: #78c178;
  border-bottom: 2px solid #3b873b;
  -webkit-box-shadow: inset 0 -2px #3b873b;
  box-shadow: inset 0 -2px #3b873b;
}
